{% extends "base.html" %}

{% block title %}
  Assign Teacher to Class
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('assign_teacher_to_class') }}" id="assignmentForm">
  <!-- Form for assigning a teacher to a class -->

  <!-- Heading for the form -->
  <h3 align="center">Assign Teacher to Class</h3>

  <!-- Dropdown for selecting a class -->
  <div class="form-group" id="selectclasses">
    <label for="classes">Select Class:</label>
    <select class="form-control" id="classes" name="classes" required>
      {% for class in classes %}
      <!-- Loop through classes and populate the dropdown options -->
      <option value="{{ class[0] }}">{{ class[1] }}</option>
      {% endfor %}
    </select>
  </div>

  <!-- Dropdown for selecting a subject -->
  <div class="form-group" id="selectsubjects">
    <label for="subjects">Select Subject:</label>
    <select class="form-control" id="subjects" name="subjects" required>
      {% for subject in subjects %}
      <!-- Loop through subjects and populate the dropdown options -->
      <option value="{{ subject[0] }}">{{ subject[1] }}</option>
      {% endfor %}
    </select>
  </div>

  <!-- Button for submitting the form and updating the selected class and subject -->
  <button type="submit" class="btn btn-primary" id="chooseBtn" name="action" value="update">
    Choose this Class and Subject
  </button>
</form>
{% endblock %}
