{% extends "base.html" %}

{% block title %}
  Assign Teacher to Class
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('assign_teacher_to_class') }}" id="assignmentForm">
  <!-- Form for assigning a teacher to a class -->
  <h3 align="center">Assign Teacher to Class</h3>

  <!-- Dropdown for selecting a teacher -->
  <div class="form-group" id="teacherList">
    <label for="teachers">Select Teacher</label>
    <select class="form-control" id="teachers" name="teachers" required>
      {% for user in users %}
      <!-- Loop through users and populate the dropdown options with teacher names -->
      <option value="{{ user[0] }}">{{ user[2] }} {{ user[3] }}</option>
      {% endfor %}
    </select>
  </div>

  <!-- Hidden input fields for storing selected class and subject -->
  <input type="hidden" name="classes" value="{{ selected_class }}" />
  <input type="hidden" name="subjects" value="{{ selected_subject }}" />

  <!-- Button for submitting the form and saving the assignment -->
  <button type="submit" class="btn btn-primary" id="saveBtn" name="action" value="save">
    Save Assignment
  </button>
</form>
{% endblock %}
