{% extends "base.html" %}

{% block title %}
  Enter Grades
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('enter_grades') }}">
  <!-- Form for selecting a class to enter grades -->

  <!-- Heading for the form -->
  <h3 align="center">Enter Grades</h3>

  <!-- Dropdown for selecting a class -->
  <div class="form-group" id="selectclasses">
    <label for="classes">Select Class:</label>
    <select class="form-control" id="classes" name="selectedClass" required>
      {% for class in classes %}
      <!-- Loop through classes and populate the dropdown options -->
      <option value="{{ class[0] }}">{{ class[1] }}</option>
      {% endfor %}
    </select>
  </div>

  <!-- Button for submitting the form and navigating to grade entry -->
  <button
    type="submit"
    class="btn btn-primary"
    id="enterGradeBtn"
    name="gradeaction"
    value="update1"
  >
    Enter grade
  </button>
</form>
{% endblock %}
