{% extends "base.html" %}

{% block title %}
  Enter Grades
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('enter_grades') }}">
  <!-- Form for entering grades -->

  <!-- Heading for the form -->
  <h3 align="center">Enter Grades</h3>

  <!-- Hidden input field for storing the selected class -->
  <input type="hidden" name="selectedClass" value="{{ selected_class }}" />

  <!-- Form group for entering the weight -->
  <div class="form-group">
    <label for="weight">Weight:</label>
    <input
      type="weight"
      class="form-control"
      id="weight"
      name="weight"
      placeholder="Enter weight"
      required
    />
  </div>

  <!-- Table for displaying students and input fields for entering grades -->
  <table class="table">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Enter Grade</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <!-- Loop through students and populate the table rows -->
      <tr>
        <td>{{ student[0] }} {{ student[1] }}</td>
        <td>
          <!-- Input field for entering grades -->
          <input type="text" class="form-control" id="grade" name="grades" />
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Button for submitting the form and updating grades -->
  <button
    type="submit"
    class="btn btn-primary"
    id="submitGradesBtn"
    name="gradeaction"
    value="update2"
  >
    Submit Grades
  </button>
</form>
{% endblock %}
